{% extends 'base.html.twig' %}

{% block title %}Hello ReceiptController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Dodaj paragon ✅</h1>
        {% if form is defined %}
            {{ form_start(form) }}
            {{ form_row(form.create_at) }}
            {{ form_row(form.shop) }}

            {{ form_row(form.product) }}
            {{ form_row(form.price) }}
            {{ form_row(form.quantity) }}

            <button type="submit" class="btn btn-primary">Dodaj</button>
            {{ form_end(form) }}
            {{ getProduct }}
        {% endif %}
    </div>
{% endblock %}
